body {
    background-color: black;
    color: whitesmoke;
    user-select: none;
}
.no-js {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#main {
    width: 90dvw;
    height: fit-content;
    max-height: 95dvh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;

    overflow-y: scroll;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
}



.slide {
    width: 80dvw;

    background-color: rgba(0, 0, 0, .69);
    border-radius: 10px;
    
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    transition: height 2s;
    position: sticky;

    margin: 25px 5dvw;
}
@media screen and (orientation: portrait) {
    #main {
        width: 100dvw;
    }
    .slide {
        width: 100dvw;
        margin: 25px 0;
    }
}

.slide.show-slide {
    height: 50dvh !important;
}
.slide.hide-slide {
    height: 0;
}

.field {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}