body {
    background-color: black;
    color: whitesmoke;
    user-select: none;
}
* {
    font-family: monospace;
}
.no-js {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#main {
    width: fit-content;
    height: fit-content;
    max-height: 95dvh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    border-radius: 10px;

    overflow-y: scroll;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
}
h1 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
#desc {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}


.slide {
    width: 80dvw;
    margin: 1dvh 0;

    background-color: rgba(2, 4, 29, 0.69);
    border-radius: 10px;
    
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    transition: height 2s;
    position: sticky;
}
@media screen and (orientation: portrait) {
    #main {
        width: 100dvw;
    }
    .slide {
        width: 100dvw;
    }
}

.slide.show-slide {
    height: 90dvh;
}
.slide.hide-slide {
    height: 0;
}

.field {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#skip-anim-btn {
    background-color: brown;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: none;
}
#skip-anim-btn:hover {
    background-color: darkred;
    color: white;
}