#result {
    text-align: center;
    font-size: xx-large;
}
#comment {
    text-align: center;
    font-size: large;
    margin: 10px auto;
    color: gray;
}

#out-btns-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
    max-width: 50dvw;
}
.out-btn {
    background-color: transparent;
    margin-top: 10px;
    color: orange;
    font-weight: bold;
    padding: 5px 10px;
    border: orangered 2px solid;
    border-radius: 5px;
}
.out-btn:hover {
    background-color: orangered;
    border: brown 2px solid;
    color: white;
    cursor: pointer;
}
